@model Presentation.Models.SeasonSeasonModel

@{
    ViewBag.Title = String.Format("MEAK – Temporada {0}", Model.Season);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="title">
    Temporada @Model.Season
</p>

<ul class="seasonEpisodesList">
    @foreach (var episode in Model.EpisodeList)
    {
        <li>
            <a class="title" href="@Url.Action("Episode", "Season", new { seasonID = Model.Season, episodeID = episode })">
                <span class="epCode">@(episode):</span>
                <span class="epTitle">@episode.Title</span>
            </a>
            <p class="summary">
                @episode.Summary
            </p>
        </li>
    }
</ul>

<p class="sign">
    <img alt="Handhara Akeon" src="@Url.Content(@"~/Assets/images/sign.gif")" />
</p>