@model Presentation.Models.BaseModel
@using System.Web.Mvc.Html
@using Structure.Helpers

@{
	var isAuthor = UrlUserType.IsAuthor();

	if (isAuthor)
	{
		<div id="save_status" class="darkback">
			Saved<hr />
			@Model.TimeLeft days
		</div>
		<div class="header lightback">
			@Html.ActionLink("Add Episode", "AddEpisode", "Season")
		</div>
		<br /><br />
	}
}

@foreach (var season in Model.Menu.SeasonList)
{
	var url = RouteStories.With(season);

	<div class="season">
		<div class="darkback">
			<div class="header">
				<a href="@url">
					Temporada @season
				</a>
			</div>

			<div class="body">
				@foreach (var episode in season.EpisodeList)
				{
					var route = RouteStories.With(season, episode);

					var myUrl = isAuthor
						? Url.Action("Episode", "Season", route)
						: route.ToString();

					var @selectedClass = Request.Url.AbsoluteUri.Contains(myUrl)
						? "selected" : "";

					<a href="@myUrl" 
					   class="item storyLink @selectedClass" 
					   rel="@episode.Title">@episode.ID</a>
				}

			</div>
		</div>
		<div class="storyNameSuperBox">
			<div class="darkback storyNameBox"></div>
		</div>
	</div>
}

@Html.Partial("Partial/Legend")