@model Presentation.Models.BaseModel

@{
    var isAuthor = Structure.Helpers.UrlUserType.IsAuthor(Request.Url);
    
    var route = isAuthor ? "Author" : "Default";

    if (isAuthor)
    {
        <div id="save_status" class="darkback">
            Saved
        </div>
        <div class="header lightback">
            @Html.RouteLink("Add Episode", route, new { action = "AddEpisode" })
        </div>
        <br /><br />
    }
}
    
@foreach (var season in Model.Menu.SeasonList)
{
    <div class="season">
        <div class="darkback">
            <div class="header lightback">
                @Html.RouteLink("Temporada " + season, route, new { action = "Index", controller = "Season", seasonID = season })
            </div>

            <div class="body">
                @foreach (var episode in season.EpisodesList)
                {
                    @Html.RouteLink(
                        episode.ID,
                        route,
                        new { controller = "Season", seasonID = season, action = "Episode", episodeID = episode },
                        new { @class = "item storyLink", rel = episode.Title }
                    )
                    @(" ")
                }

            </div>
        </div>
        <div class="storyNameSuperBox">
            <div class="lightback storyNameBox"></div>
        </div>
    </div>
}

@Html.Partial("Partial/Legend");