@using Presentation.Models.General
@model Presentation.Models.SeasonEditEpisodeModel

@{
	ViewBag.Title = $"MEAK {Model.Story.Season}{Model.Story} – {Model.Story.Title}";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var route = new { episodeID = Model.Story.ID, seasonID = Model.Story.Season.ID };
	var formId = "form_title";
	var action = Url.Action("EditTitle", route);

	var topSelector =
		new TopSelectorModel
		{
			Total = Model.Story.BlockList.Count,
			Current = Convert.ToInt32(Model.ReadingBlock[0]) - 97
		};
}

<script src="@Url.Content("~/Assets/js/Author/Inputs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/Author/Suggestion.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/Author/Adder.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/Author/SaveChangeColor.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Assets/js/Author/General.js")" type="text/javascript"></script>

@await Html.PartialAsync("Suggestion")

@section Header
{
	@{
		var paragraphsCount = Model.Story.BlockList.Sum(s => s.ParagraphCount);
	}

	<div class="absolute-header lightback" id="main-info">
		<form action="@action"
			method="post"
			id="@formId"
			data-ajax="true"
			data-ajax-method="post"
			data-ajax-url="@action"
			data-ajax-begin="SaveBegin('@formId')"
			data-ajax-success="SaveSuccess('@formId')"
			data-ajax-failure="SaveFailure('@formId')"
			>

			<div class="titleChange">

				@Html.TextBoxFor(m => m.Story.Title)

				<span class="paragraphCountTitle">
					Paragraphs last count: @paragraphsCount
				</span>

				@Html.TextAreaFor(m => m.Story.Synopsis, new { @class = "synopsis", rows = 3 })
				@Html.TextAreaFor(m => m.Story.Summary, new { @class = "summary", rows = 20 })

				<button type="submit" class="darkback save">
					Save
				</button>
			</div>
		</form>
		<button class="toggle">
			&#129088;
		</button>
	</div>
}

@await Html.PartialAsync("Partial/ChangeBlock", topSelector)

<div class="blocks">
	@for (var s = 0; s < Model.Story.BlockList.Count; s++)
	{
		Model.BlockCounter = s;
		@await Html.PartialAsync("Author/Block")
	}
</div>

@await Html.PartialAsync("Partial/ChangeBlock", topSelector)

@await Html.PartialAsync("Partial/Sign")
