@using Structure.Helpers
@model Presentation.Models.SeasonEditEpisodeModel

@{
	var piece = Model.Story
		.BlockList[Model.BlockCounter]
		.TalkList[Model.TalkCounter]
		.Pieces[Model.PieceCounter];

	var route = RouteStories.With(null, null, Model.CurrentBlock);
	var adderUrl = HttpUtility.UrlDecode(
		Url.Action("Adder", "Season", route)
	);
}

<span class="paragraphPiece" id="Talk@(Model.TalkCounter)_Piece@(Model.PieceCounter)">
	<span class="talk_@(piece.Style)">
		@Html.TextBoxFor(m => m.Story.BlockList[Model.BlockCounter].TalkList[Model.TalkCounter].Pieces[Model.PieceCounter].Style, 
			new { 
				@class = "darkback auxi",
				rel = (
					"block" + Model.BlockCounter 
					+ "_talkStyle" + Model.TalkCounter 
					+ "_piece" + Model.PieceCounter
				), 
				suggestion = "talkStyle", 
				onfocus = "GetSuggestionBox(this)", 
				onblur="ExitSuggestionBox(this)",
				tabIndex = Model.TabIndex++
			})

		@Html.TextBoxFor(m => m.Story
			.BlockList[Model.BlockCounter]
			.TalkList[Model.TalkCounter]
			.Pieces[Model.PieceCounter].Text, 
			new { 
				@class = "text",
				tabIndex = Model.TabIndex++
			})
	
		<adder
			class="adderPiece"
			block="@Model.BlockCounter"
			type="Piece"
			subtype="Talk"
			paragraph="@(Model.ParagraphCounter)"
			talk="@(Model.TalkCounter)"
			piece="@(Model.PieceCounter)"
			onclick="AddInputItem(this)"
			url="@adderUrl">+</adder>
	</span>
				
	<div class="suggestionBox" id="block@(Model.BlockCounter)_talkStyle@(Model.TalkCounter)_piece@(Model.PieceCounter)"></div>
</span>