@using Structure.Helpers
@model Presentation.Models.BaseModel

@{
	var url = Request.Url.Scheme + "://" + Request.Url.Authority;
}

<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>

	<link href="@Url.Content("~/Assets/images/favicon.png")" rel="icon" type="image/png" />

	@if (Model.Css != null)
	{
		@Html.Partial("Partial/Css", Model.Css)
	}

	@Html.Partial("Partial/Js")

	<meta property="og:title" content="@ViewBag.Title">
	<meta property="og:description" content="Esta é a história de um amontoado de átomos ao acaso tentando voltar a ser.">
	<meta property="og:image" content="@url/Assets/images/facebook.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="600">
	<meta property="og:image:height" content="600">
	<meta property="og:url" content="@(url + Request.RawUrl)">
	<meta property="og:type" content="website">

</head>

<body>
	<div class="login">
		@Html.Partial("Partial/LogOn")
	</div>

	<div>
		@RenderSection("Header", false)
	</div>

	<div class="content">
		<div class="resizer">
			<div class="fb-like"
			     data-href="https://www.facebook.com/meakstories/"
			     data-layout="box_count"
			     data-action="like"
			     data-size="small"
			     data-show-faces="false"
			     data-share="false">
			</div><br/>

			<button class="sizeLess lightback">A &ndash; &ndash;</button>
			<button class="sizeMore lightback">A + +</button>
		</div>

		<div class="left">
			<a class="head" href="/"></a>

			<div class="menu">
				@Html.Partial("Partial/Menu")
			</div>
		</div>

		<div class="main lightback">
			@RenderBody()
		</div>
	</div>
</body>
</html>
