@model Presentation.Models.SeasonEditEpisodeModel

@{
    ViewBag.Title = String.Format("MEAK {0}{1} – {2}", Model.Story.Season, Model.Story, Model.Story.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";

    var adderPage = Url.Action("Adder");
    var route = new { episodeID = Model.Story.ID, seasonID = Model.Story.Season.ID };
    var formId = "form_title";
    
    var html = new { id = formId };

    var ajaxOptions = new AjaxOptions
    { 
        HttpMethod = "Post", 
        OnBegin = "SaveBegin('" + formId + "')", 
        OnSuccess = "SaveSuccess('" + formId + "')", 
        OnFailure = "SaveFailure('" + formId + "')"
    };

    var topSelector =
        new Presentation.Models.General.TopSelectorModel
        {
            Total = Model.Story.SceneList.Count,
            Current = Convert.ToInt32(Model.ReadingScene[0]) - 97
        };
}

<script type="text/javascript">var adderPage = '@adderPage';</script>

<script src="@Url.Content("~/Assets/js/Author/Inputs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/Author/Suggestion.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/Author/Adder.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Assets/js/Author/SaveChangeColor.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Assets/js/Author/General.js")" type="text/javascript"></script>

@Html.Partial("Suggestion")
        
@using (Ajax.BeginForm("EditTitle", route, ajaxOptions, html))
{
    <div class="titleChange">
        <button type="submit" class="darkback" class="save" id="save_title">Salvar</button>
        @Html.TextBoxFor(m => m.Story.Title)<br />

        @Html.TextAreaFor(m => m.Story.Summary)
    </div>
}

<p>
    Paragraphs last count: @Model.Story.SceneList.Sum(s => s.ParagraphTypeList.Count)
</p>
    

@Html.Partial("Partial/ChangeScene", topSelector)

<div class="scenes">
    @for (var s = 0; s < Model.Story.SceneList.Count; s++)
    {
        Model.SceneCounter = s;

        @Html.Partial("Author/Scene")
    }
</div>

@Html.Partial("Partial/ChangeScene", topSelector)


<p class="sign">
    <img alt="Handhara Akeon" src="@Url.Content(@"~/Assets/images/sign.gif")" />
</p>