@model Presentation.Models.SeasonSeasonModel

@{
    ViewBag.Title = String.Format("MEAK – Temporada {0}", Model.Season);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="title">
    Temporada @Model.Season<br /><span class="sub">Resumo</span>
</p>

<ul class="seasonEpisodeList">
    @foreach (var episode in Model.EpisodeList)
    {
	    <li>
		    <a class="title" href="@Url.RouteUrl("Default", new { action = "Episode", controller = "Season", seasonID = Model.Season, episodeID = episode })">
			    <span class="epCode">@(episode):</span>
			    <span class="epTitle">@episode.Title</span>
			    <span class="epPublish">
				    Public.: @episode.Publish.ToShortDateString()
			    </span>
		    </a>
		    <p class="summary">
			    @episode.Summary
		    </p>
	    </li>
    }
</ul>

@Html.Partial("Partial/Sign")