@model Presentation.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Assets/images/favicon.png")" rel="icon" type="image/png" />

    @if (Model.Css != null)
    {
        @Html.Partial("Partial/Css", Model.Css)
    }

    @Html.Partial("Partial/Js")    
</head>

<body>
    <div class="login">
        @Html.Partial("Partial/LogOn")
    </div>

    <div class="content">
        <div class="resizer">
            <button class="sizeLess lightback">A &ndash; &ndash;</button>
            <button class="sizeMore lightback">A + +</button>
        </div>

        <div class="left">
            <div class="head">
            </div>

            <div class="menu">
                @Html.Partial("Partial/Menu")
            </div>
        </div>

        <div class="main lightback">
            @RenderBody()
        </div>
    </div>
</body>
</html>