@model Presentation.Models.BaseModel

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Assets/images/favicon.png")" rel="icon" type="image/png" />

    @if (Model.Css != null)
    {
        @Html.Partial("Partial/Css", Model.Css)
    }

    @Html.Partial("Partial/Js")

    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="Esta é a história de um amontoado de átomos ao acaso tentando voltar a ser.">
    <meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Authority)/Assets/images/facebook.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="222">
    <meta property="og:image:height" content="85">

</head>

<body>
    <div class="login">
        @Html.Partial("Partial/LogOn")
    </div>

    <div class="content">
        <div class="resizer">
            <button class="sizeLess lightback">A &ndash; &ndash;</button>
            <button class="sizeMore lightback">A + +</button>
        </div>

        <div class="left">
            <div class="head">
            </div>

            <div class="menu">
                @Html.Partial("Partial/Menu")
            </div>
        </div>

        <div class="main lightback">
            @RenderBody()
        </div>
    </div>
</body>
</html>